#!/bin/bash
# this file managed by ansible
# AtoM environment variables (required by CLI tools)
{% for key, value in atom_pool_php_envs.iteritems() %}
{% if value != "" -%}
export {{ key }}="{{ value }}"
{% endif %}
{% endfor %}

{% if ansible_os_family == "RedHat" -%}
# enable SCLs for node and php
source scl_source enable rh-nodejs6 rh-php{{ php_version }}
{% endif %}
